<div class="wrapper" >
    <div class="sidebar">
        <ul>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none" class="active">
                    <span class="icon"><i class="fa fa-home"></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none">
                    <span class="icon"><i class="fa fa-desktop"></i></span>
                    <span class="item">My Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span routerLink="/admin/student" class="item">Student</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none">
                    <span class="icon"><i class="fa fa-tachometer"></i></span>
                    <span class="item">Perfomance</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none">
                    <span class="icon"><i class="fa fa-database"></i></span>
                    <span class="item">Development</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none">
                    <span class="icon"><i class="fa fa-chart-line"></i></span>
                    <span class="item">Reports</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="item">Admin</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none">
                    <span class="icon"><i class="fa fa-cog"></i></span>
                    <span class="item">Settings</span>
                </a>
            </li>
        </ul>
    </div>
    
</div>