<div class="wrapper" >
    <div class="sidebar border-end">
        <ul class="p-0">
            <li>
                <a href="javascript:void(0)" class="text-decoration-none ps-4" [routerLink]="['/admin/dashboard']" routerLinkActive="active" >
                    <span class="icon"><i class="fa fa-desktop"></i></span>
                    <span class="icon">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none ps-4" [routerLink]="['/admin/student']" routerLinkActive="active">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="icon">Student</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none ps-4">
                    <span class="icon"><i class="fa fa-tachometer"></i></span>
                    <span class="icon">Perfomance</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none ps-4">
                    <span class="icon"><i class="fa fa-database"></i></span>
                    <span class="icon">Development</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none ps-4">
                    <span class="icon"><i class="fa fa-chart-line"></i></span>
                    <span class="icon">Reports</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none ps-4">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="icon">Admin</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-decoration-none ps-4">
                    <span class="icon"><i class="fa fa-cog"></i></span>
                    <span class="icon">Settings</span>
                </a>
            </li>
        </ul>
    </div>
    
</div>