.text-color{
    color: purple;
}

.vertical {
    border-left: 1px solid purple;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 3;
  }

  .imgsize{
    width: 500px;
    height: 300px;
    
  }

  .bg-color2{
    background-color: lightcyan
  }