.custom-toast {
    position: fixed;
    border-radius: 4px;
    font-weight: bold;
    z-index: 999999;
    font-size: 0.8rem;
    top: 2rem;
    right: 2rem;
    max-width: 20rem;
    min-width: 11rem;
  }
  
  .custom-toast:hover {
    opacity: 0.4;
    cursor: pointer;
  }